<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facebook_volley">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.facebook_volley.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon_fb"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="FaceBook_bro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".pager.Main_Pager"/>
        <activity android:name=".FriendMenu" />
        <activity
            android:name=".ViewImage"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ChatBubbleActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Main_profile"
            android:theme="@style/FullHeightDialog" />
        <activity
            android:name=".pager.Main_PagerAlbum"
            android:label="Suki Bùi" />
    </application>

</manifest>
